.column {
  float: left;
  background-color: gray;
  font-size: 25px;
  font-weight: bold;
  color: red;
  margin: 50px;
}

img {
  width: 400px;
  height: 300px;
}

html {
  background-image: url("../img/fancy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#one {
  background-color: #9fc2ea;
}

#two {
  background-color: #a2efcb;
}

#three {
  background-color: #efeba2;
}
