.column {
  float: left;
  width: 30%;
}
img {
  width: 200px;
  height: 300px;
}

.works {
  font-style: 25px;
  font-weight: bold;
  color: red;
}

html {
  background-image: url("../img/fancy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
